---
layout: default
header_image: "/assets/images/bg/bg-portfolio.jpg"
title: "Contact Us"
description: "Contact Me"
---

{% include page_header.html %}

<section class="contact-form-wrap section">
	<div class="container">
		<div class="row justify-content-center align-items-center bg-gray">
			<div class="col-lg-10">
				<div class="contact-content pl-lg-5 mb-5 mb-lg-0">
					<h3 class="mb-4 font-weight-bold">Contact Information</h3>
					<p>Feel free to reach out.</p>

					<div class="row mt-5">
						<div class="col-lg-4">
							<div class="contact-info mt-3">
								<i class="ti-location-pin text-color"></i>
								<div class="info">
									<h4>Our Address</h4>
									<p>12345 California St, San Jose CA 95128</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="contact-info mt-3">
								<i class="ti-mobile text-color"></i>
								<div class="info">
									<h4>Call Us</h4>
									<p>(408) 12345678 <br>(408) 12345678</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="contact-info mt-3">
								<i class="ti-email text-color"></i>
								<div class="info">
									<h4>Email Us</h4>
									<p>charlesggg@gmail.com<br>https://www.linkedin.com/in/charlesguo/</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

{% include call_to_action.html %}